@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  margin-top: 10px;
  font-size: 18px;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.box {
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #111;
}

.game-board {
  margin-top: 20px;
  border: 2px solid #fff;
}

/* Grid background */
canvas {
  background: repeating-linear-gradient(
      0deg,
      #111 0px,
      #111 19px,
      #222 20px
    ),
    repeating-linear-gradient(
      90deg,
      #111 0px,
      #111 19px,
      #222 20px
    );
}

/* MOBILE CONTROLS */
.mobile-controls {
  margin-top: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  background: #222;
  color: white;
  border: 2px solid #555;
  padding: 15px 25px;
  font-size: 22px;
  border-radius: 10px;
  width: 80px;
}

.middle-row {
  display: flex;
  gap: 20px;
}

/* Show mobile buttons only on small screens */
@media (max-width: 768px) {
  .mobile-controls {
    display: flex;
  }
}
