@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}

.title {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.box {
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #111;
}

.game-board {
  margin-top: 20px;
  background-color: #0f0f0f;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
}

canvas {
  background: repeating-linear-gradient(
    0deg,
    #111 0px,
    #111 19px,
    #222 20px
  ),
  repeating-linear-gradient(
    90deg,
    #111 0px,
    #111 19px,
    #222 20px
  );
}
